<a href="https://colab.research.google.com/github/Mehul0209/python/blob/main/matrices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A=[]

In [ ]:
A

[]

In [ ]:
M1=[[],[]]
M2=[[],[]]
M3=[[],[]]

In [ ]:
M1, M3

([[], []], [[], []])

In [ ]:
 for i in range(2):
  for j in range (2):
    a=int(input(""))
    print(a)

2
2
4
4
6
6
1
1

In [ ]:
m1=[[],[]]

In [ ]:
m1=[[1,2],[4,6]]
m2=[[3,5],[1,9]]
for i in range (2):
  for j in range(2):
    print(m1[i][j]+m2[i][j], end=" ")
  print('')

4 7
5 15

In [ ]:
m1=[[],[]]
s=0
for i in range(2):
  for j in range (2):
    m1[i].append(int(input()))

print("Element of Matrix 1")
for i in range (2):
  for j in range(2):
    print(m1[i][j], end=" ")
    s+=m1[i][j]
  print()
print(s)

45
1
2
3
Element of Matrix 1
45 1
2 3
51

In [ ]:
m1=[[],[]]

for i in range(2):
  for j in range (2):
    m1[i].append(int(input()))
    print (i,j)

print("Element of Matrix 1")
for i in range (2):
  for j in range(2):
    print(m1[i][j], end=" ")

  print()

5
0 0
6
0 1
3
1 0
7
1 1
Element of Matrix 1
5 6
3 7

In [ ]:
print (m1)

[[58, 9], [5, 23]]

In [ ]:
m1=[[] for i in range(4)]

In [ ]:

r=int(input("enter number of rows required:"))
c=int(input("enter number of columns required:"))
m1=[[] for i in range(r)]
for i in range(r):
  for j in range (c):
    m1[i].append(int(input()))

print("Element of Matrix 1")
for i in range (r):
  for j in range(c):
    print(m1[i][j], end=" ")
  print()

enter number of rows required:4
enter number of columns required:2
8
9
88
09
90
76
67
55
Element of Matrix 1
8 9
88 9
90 76
67 55

In [ ]:
len(m1)

4

**Matrix Operations**

In [ ]:
m1=[[],[]]
m2=[[],[]]

for i in range(2):
  for j in range (2):
    m1[i].append(int(input()))
for i in range(2):
  for j in range (2):
    m2[i].append(int(input()))
for i in range (2):
  for j in range(2):
    print(m1[i][j]+m2[i][j], end=" ")
  print()

2
4
7
8
14
45
89
59
16 49
96 67

In [ ]:
m1=[[],[]]
m2=[[],[]]
m3=[[],[]]
for i in range(2):
  for j in range (2):
    m1[i].append(int(input()))
for i in range(2):
  for j in range (2):
    m2[i].append(int(input()))
for i in range (2):
  for j in range(2):
    print(m1[i][j]-m2[i][j], end=" ")
  print()

78
56
36
31
0
1
2
3
78 55
34 28

In [ ]:
m1=[[],[],[]]
s=0
for i in range(3):
  for j in range (3):
    m1[i].append(int(input()))

print("Element of Matrix 1")
for i in range (3):
  for j in range(3):
    print(m1[i][j], end=" ")
    if i==j:
      s+=m1[i][j]
  print()
print(s)

4
5
7
69
11
23
74
77
85
Element of Matrix 1
4 5 7
69 11 23
74 77 85
100

In [ ]:
def matrix_multiply(matrix1, matrix2):
    result = [[0 for _ in range(3)] for _ in range(3)]

    for i in range(3):
        for j in range(3):
            for k in range(3):
                result[i][j] += matrix1[i][k] * matrix2[k][j]

    return result

# Example matrices
matrix_A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix_B = [
    [9, 8, 7],
    [6, 5, 4],
    [3, 2, 1]
]

re = matrix_multiply(matrix_A, matrix_B)


print("\nResultant Matrix:")
for row in re:
  print(row)

Resultant Matrix:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]